.idea
*/target/
/.metadata/
*/.classpath
*/.project
*/.settings/*
.sonarlint/
test/.classpath
test/.settings/*
test/.classpath
test/.settings/org.eclipse.core.resources.prefs
test/.settings/org.eclipse.jdt.core.prefs